* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    min-height: 100vh;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100"><g fill="none" stroke-width="1" stroke="hsl(210, 90%, 30%)"><path d="M 0 30 Q 40 60 20 100"></path><path d="M 20 0 Q 40 60 100 30"></path></g></svg>'),
    hsl(210, 90%, 45%);
    background-size: 50px;
    font-family: 'Mukta', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 95vw;
    margin: 1rem auto;
}

.container > * + * {
    margin-top: 1rem;
}

.container .input, .container .spreadsheet, .container .chart {
    background: hsl(0, 0%, 100%);
    padding: 1.5rem 1.25rem;
    box-shadow: 0 2px 10px -5px hsl(210, 85%, 10%);
    position: relative;
}

.container .input .icon,
.container .spreadsheet .icon,
.container .chart .icon {
  position: absolute;
  filter: drop-shadow(0 1px 5px hsla(210, 90%, 30%, 0.2));
}

.container .input .icon {
    top: 0;
    right: 0;
    transform: rotate(20deg);
}

.container .spreadsheet .icon {
    top: 0;
    left: 0;
    transform: rotate(-20deg);
  }

.container .chart .icon {
    bottom: 0;
    right: 0;
    transform: rotate(10deg);
}

.container .input > * + * {
    margin-top: 1rem;
}

.container .input textarea {
    display: block;
    width: 100%;
    height: 200px;
    font-family: inherit;
    resize: none;
    font-size: 1rem;
    padding: 0.5rem;
    line-height: 1.5;
    border: 2px solid hsl(210, 90%, 85%);
    outline-color: hsl(210, 90%, 85%);
}

.container .input .controls {
    display: flex;
    align-items: center;
}

.container .input .controls > * + * {
    margin-left: 0.75rem;
}

.container .input .controls .btn {
    padding: 0.25rem 1rem;
    color: hsl(0, 0%, 100%);
    background: hsl(210, 90%, 55%);
    border: 2px solid hsl(210, 90%, 55%);
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
    outline-color: hsl(210, 90%, 60%);
}